* {
  box-sizing: border-box; }

body {
  background-color: #111;
  font-family: 'Cormorant Garamond', serif; }

.container {
  max-width: 1296px;
  margin: 0 auto; }

.header {
  background: url(../img/bgc.png) center top/cover;
  padding-bottom: 100px; }
  .header .menu-links {
    display: flex;
    align-items: center; }
  .header .right-ul li:not(:first-child) {
    margin-left: 80px; }
  .header .left-ul li:not(:last-child) {
    margin-right: 80px; }
  .header span {
    color: #CDAA7D;
    border-bottom: 1px solid #CDAA7D; }
  .header ul {
    list-style: none;
    display: flex;
    margin-top: 39px; }
    .header ul li {
      font-family: 'Cormorant Garamond', serif;
      font-weight: 600;
      font-size: 18px;
      color: #fff;
      line-height: 23.4px; }
    .header ul a {
      text-decoration: none;
      color: #fff; }
  .header .header-inst {
    width: 24px;
    height: 24px;
    margin-right: 126px;
    margin-top: 37px; }
  .header .header-logo {
    width: 40px;
    height: 40px;
    margin: 0 120px;
    margin-top: 30px; }
  .header .header-burger {
    width: 50px;
    margin-left: 113px;
    margin-top: 44px; }
  .header .line {
    width: 1296px;
    height: 1px;
    background-color: #fff;
    margin-top: 30px; }
  .header h1 {
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    font-size: 48px;
    color: #fff;
    line-height: 57.6px; }
  .header .header-title {
    margin-top: 260px;
    text-align: center; }
  .header .mouse-down {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 290px; }
    .header .mouse-down p {
      font-family: 'Cormorant Garamond', serif;
      font-weight: 700;
      font-size: 18px;
      color: #fff;
      line-height: 25px;
      margin-left: 20px; }

.about .top-img {
  text-align: center;
  margin-top: 120px; }
.about .about-top-paragraph {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-size: 27px;
  color: #fff;
  line-height: 35.1px;
  width: 856px;
  text-align: center;
  margin: auto;
  margin-top: 60px; }
.about .service-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 95px; }
.about .service-card {
  margin-right: 24px; }
.about .service-card-image {
  width: 396px;
  height: 300px;
  border: 1px solid #CDAA7D;
  margin-left: 20px; }
  .about .service-card-image::before {
    width: 396px;
    height: 300px;
    background: url(../img/parik.png);
    content: '';
    display: block;
    position: relative;
    margin-top: 20px;
    right: 20px; }
.about p {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 30px;
  color: #fff;
  line-height: 36px;
  margin-top: 30px;
  position: relative;
  right: 20px; }
.about .service-card-image-2::before {
  background: url(../img/manik.png); }
.about .service-card-image-3::before {
  background: url(../img/ped.png); }
.about .service-card-image-4::before {
  background: url(../img/kosmet.png); }
.about .service-card-image-5::before {
  background: url(../img/esmetist.png); }
.about .service-card-image-6::before {
  background: url(../img/visage.png); }
.about .service-card-visage {
  margin-right: 0px; }
.about .service-card-ped {
  margin-right: 0px; }
.about .card-low {
  margin-top: 126px; }
.about .cosmetics {
  display: flex;
  margin-top: 216px;
  align-items: center; }
  .about .cosmetics a {
    width: 306px;
    height: 144px; }
  .about .cosmetics p {
    text-align: center;
    margin: 0; }

.our-works h1 {
  margin-top: 168px;
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-weight: 700;
  font-size: 48px;
  color: #fff;
  line-height: 57.6px;
  margin-bottom: 80px; }
.our-works ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-bottom: 31px; }
  .our-works ul a {
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    line-height: 31px; }
  .our-works ul li:not(:last-child) {
    margin-right: 60px; }
  .our-works ul span {
    color: #CDAA7D;
    border-bottom: 1px solid #CDAA7D; }
.our-works .work-images {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px; }
.our-works .work-img {
  margin-top: 24px;
  margin-right: 24px; }
.our-works .work-img-3 {
  margin-right: 0px; }
.our-works .work-img-6 {
  margin-right: 0px; }
.our-works .work-img-9 {
  margin-right: 0px; }

footer .line {
  height: 1px;
  background-color: #fff; }
footer .footer-content {
  display: flex; }
footer .footer-logotip {
  margin-top: 80px; }
footer .contacts {
  margin-top: 80px;
  margin-left: 192px; }
  footer .contacts h3 {
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    line-height: 23.4px;
    margin-bottom: 25px; }
  footer .contacts a {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    line-height: 28.8px;
    text-decoration: none; }
  footer .contacts li {
    margin-bottom: 15px; }
  footer .contacts p {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    line-height: 23.4px; }
footer .mode {
  margin-top: 80px;
  margin-left: 209px; }
  footer .mode h3 {
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    line-height: 28.8px;
    margin-bottom: 25px; }
  footer .mode p {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    line-height: 23.4px;
    margin-top: 15px; }
footer .instagramm {
  margin-top: 80px;
  margin-left: 192px; }
  footer .instagramm h3 {
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    line-height: 28.8px;
    margin-bottom: 25px; }
footer .line-2 {
  background-color: #fff;
  height: 1px;
  margin-top: 80px; }
footer .copy {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  line-height: 25px;
  margin-top: 30px;
  padding-bottom: 30px; }

@media (max-width: 1310px) {
  .container {
    max-width: 1170px; }

  .header .right-ul li:not(:first-child) {
    margin-left: 60px; }
  .header .left-ul li:not(:last-child) {
    margin-right: 60px; }
  .header .header-inst {
    margin-right: 80px; }
  .header .header-burger {
    margin-left: 113px; }
  .header .line {
    max-width: 1170px; }

  .service-card-ped {
    margin-top: 126px; }

  .service-card-image-3 {
    margin-right: 24px; }

  .service-cards {
    justify-content: center; }

  .work-images {
    justify-content: center; }

  .work-img-3 {
    margin-right: 24px !important; }

  .work-img-2, .work-img-4, .work-img-6, .work-img-8 {
    margin-right: 0px !important; }

  .service-card-manik, .service-card-kosmet {
    margin-right: 0px !important; } }
@media (max-width: 1190px) {
  .container {
    max-width: 960px; }

  .header .right-ul li:not(:first-child) {
    margin-left: 40px; }
  .header .left-ul li:not(:last-child) {
    margin-right: 40px; }
  .header .header-inst {
    margin-right: 60px; }
  .header .header-burger {
    margin-left: 83px; }
  .header .header-logo {
    margin-right: 80px;
    margin-left: 80px; }
  .header .line {
    max-width: 960px; }

  footer .footer-content {
    justify-items: space-between; }
  footer .mode, footer .contacts {
    margin-left: 100px; } }
@media (max-width: 980px) {
  .container {
    max-width: 720px; }

  .header .right-ul li:not(:first-child) {
    margin-left: 20px; }
  .header .left-ul li:not(:last-child) {
    margin-right: 20px; }
  .header .header-inst {
    margin-right: 30px; }
  .header .header-burger {
    margin-left: 30px; }
  .header .header-logo {
    margin-right: 40px;
    margin-left: 40px; }
  .header .line {
    max-width: 720px; }

  .about-top-paragraph {
    max-width: 720px; }

  .service-card-manik, .service-card-kosmet {
    margin-top: 126px !important; }

  .service-card-ped {
    margin-right: 0px !important; }

  .service-card {
    margin-right: 0px !important; }

  .service-card-image {
    margin-right: 0px; }

  .work-img {
    margin-right: 0px !important; }

  .footer .instagramm {
    margin-left: 100px; }
  .footer .contacts h3 {
    margin-bottom: 60px; } }
@media (max-width: 740px) {
  .container {
    max-width: 540px; }

  .header .menu-links {
    justify-content: center; }
  .header .right-ul {
    display: grid; }
    .header .right-ul li {
      margin-right: 55px; }
  .header li {
    margin-bottom: 10px; }
  .header .left-ul {
    display: grid; }
    .header .left-ul li {
      margin-left: 55px; }
  .header .right-ul li:not(:first-child) {
    margin-left: 0px; }
  .header .header-inst {
    margin-right: 30px; }
  .header .header-burger {
    margin-left: 30px; }
  .header .header-logo {
    margin-right: 40px;
    margin-left: 40px; }
  .header .line {
    max-width: 540px; }

  .about-top-paragraph {
    max-width: 540px; }

  .cosmetics {
    flex-wrap: wrap;
    justify-content: center; }

  .oribo-link, .kevin-link, a.alterna-link {
    margin-right: 0px !important;
    margin-bottom: 50px; }

  .works-content ul {
    display: grid; }
    .works-content ul li {
      margin-bottom: 10px; }

  footer .footer-content {
    display: grid; }

  .footer-logotip {
    margin: auto; }

  .contacts, .mode, .instagramm {
    margin-left: 0px !important;
    text-align: center; } }
@media (max-width: 560px) {
  .container {
    max-width: 360px; }

  .header .line {
    margin: auto;
    margin-top: 30px;
    max-width: 300px; }
  .header .header-title {
    width: 300px;
    margin: auto;
    margin-top: 360px; }
  .header .right-ul {
    padding-top: 300px;
    padding-right: 220px;
    position: absolute; }
    .header .right-ul li {
      margin-right: 0px; }
  .header .left-ul {
    padding-top: 300px;
    position: absolute;
    padding-left: 220px; }
    .header .left-ul li {
      margin-left: 0px; }
  .header .header-logo {
    margin-left: 70px; }

  .about-top-paragraph {
    width: 300px !important; }

  .top-img {
    margin: auto;
    right: 0px !important;
    width: 300px !important; }

  .service-card-image {
    max-width: 300px; }
    .service-card-image::before {
      max-width: 300px; }

  .work-img {
    max-width: 300px; }

  .footer .line {
    margin: auto;
    width: 300px; }
  .footer .line-2 {
    margin: 80px auto 0 auto;
    width: 300px; }
  .footer .prosp {
    margin: auto;
    width: 250px;
    text-align: center; }

  .cosmetics a.kevin-link, .cosmetics p, .cosmetics a.oribo-link, .cosmetics a.alterna-link, .cosmetics a.aldo-link {
    width: 240px; }

  .top-img {
    text-align: center; }

  .kevin, .oribe, .alterna, .aldo {
    margin-left: 50px; } }

/*# sourceMappingURL=main.css.map */
